@font-face {
    font-family: 'gab-font';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('gabriola/gabriola Font Download.woff') format('woff');
}

@font-face {
    font-family: "cervan";
    src: url("Cervanttis/Cervanttis.eot?") format("eot"),url("Cervanttis/Cervanttis.woff") format("woff"),url("Cervanttis/Cervanttis.ttf") format("truetype"),url("Cervanttis/Cervanttis.svg#CervanttisRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --ui-yellow: #FCDA43;
    --ui-red: #F0532A;
    --ui-green: #AFC94F;

}

.menuNav {
    font-family: 'gab-font';
    font-size: 1.25rem;
    background-color: var(--ui-red);
    color: white;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 50px;
    /*transition: color 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: -moz-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    -webkit-transition: -moz-box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: color 0.3s ease;
    -moz-transition: -webkit-box-shadow 0.3s ease;
    -moz-transition: -moz-box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: color 0.3s ease;
    -o-transition: -webkit-box-shadow 0.3s ease;
    -o-transition: -moz-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;*/
}

.menuEl {
    transition: color 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: -moz-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    -webkit-transition: -moz-box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: color 0.3s ease;
    -moz-transition: -webkit-box-shadow 0.3s ease;
    -moz-transition: -moz-box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: color 0.3s ease;
    -o-transition: -webkit-box-shadow 0.3s ease;
    -o-transition: -moz-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
}

.menuEl:hover {
    -webkit-box-shadow:inset 0px -5px 0px 0px var(--ui-yellow);
    -moz-box-shadow:inset 0px -5px 0px 0px var(--ui-yellow);
    box-shadow:inset 0px -5px 0px 0px var(--ui-yellow);
    color: var(--ui-yellow);
}

.menuE1.active {
    -webkit-box-shadow:inset 0px -5px 0px 0px var(--ui-yellow);
    -moz-box-shadow:inset 0px -5px 0px 0px var(--ui-yellow);
    box-shadow:inset 0px -5px 0px 0px var(--ui-yellow);
    color: var(--ui-yellow);
}

.menuEl {
    padding: 1.5% 7% 1.5% 7%;
}

.menuNav::-webkit-scrollbar {
    display: none;
  }

.menuContainer {
    padding: 25px 0px 50px 0px;
    width: 100%;
    background-color: var(--ui-green);
    text-align: center;
}

#menuContent h1 {
    margin: 0;
    font-family: "cervan";
    font-weight: 100;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 5px;
}

#menuContent h2 {
    margin: 0;
    padding: 0px 10% 0px 10%;
    font-family: 'gab-font';
    font-weight: 100;
    color: black;
}

#menuContent h3 {
    margin: 0;
    font-family: 'gab-font';
    font-weight: bold;
    color: black;
    padding-bottom: 40px;
}